@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body{
    font-family: sans-serif;
}

ul{
    list-style: none;
}

button,
.menu #menu_wrap #menuList{
    cursor: pointer;
}


.contaner{
    width: 900px;
    height: 700px;
    margin: 100px auto;
    display: flex;
    border: 2px solid green;
    position: relative;
    background-color: #EFEFEF;
}


form{
    width: 30%;
}

.menu{
    width: 70%;
    /* width: fit-content; */
    padding: 100px 0px 30px 20px;
    /* border: 1px solid red; */
    height: 600px;
    /* border: 1px solid red; */
    /* overflow: hidden; */
}

.menu #guide{
    position: absolute;
    /* border: 1px solid red; */
    top: 30px;
    width: 625px;
    height: 70px;
}

.menu #guide h1{
    font-size: 25px;
}
.menu #guide p{
    color: #969696;
}

.menu #menu_wrap{
    width: 610px;
    height: 95%;
}

.menu #menu_wrap h1{
    background-color: #bdbcbc;
    margin: 10px 0;
    padding: 2px 5px;
    font-size: 17px;
    width: fit-content;
    border-radius: 5px;
}

.menu #menu_wrap #menuList{
    overflow: auto;
    height: 100%;
    /* border: 1px solid red; */
    /* border: 1px solid yellow; */
}

.menu #menu_wrap #menuList .product{
    background-color: #26A69A;
    width: 23%;
    display: inline-block;
    margin: 5px 1%;
    height: fit-content;
    text-align: center;
    border-radius: 5px;
    /* padding: 20px 5px 10px 5px; */
    padding: 12px;
    color: white;
    font-size: 15px;
}

.menu #menu_wrap #menuList .product .price{
    background-color: #333;
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    margin-top: 5px;
    padding: 5px 10px;
}
.menu #menu_wrap #menuList .product .price span{
    font-size: 15px;
    font-weight: bold;
}
.menu #menu_wrap #menuList .product .name{
    overflow: visible;
    white-space: nowrap;
}

.menu #menu_wrap #menuList .product img{
    width: 80px;
    border-radius: 50%;
}

.order{
    position: relative;
}

.order #cart_wrap{
    position: absolute;
    right: 0;
    height: 595px;
    width: 100%;
    top: 11%;
    z-index: 1;
    padding: 50px 10px 30px 15px;
    background-color: #263238;
    color: #FFFFFF;
}

.order #cart_wrap #cartList{
    margin : 10px 1px 0px 5px;
    background-color: #1E524D;
    padding: 20px 1px;
    height: 90%;
    overflow: auto;
    border-radius: 10px;
}

.order #cart_wrap #cartList p{
    margin-bottom: 10px;
}
.order #cart_wrap #cartList .cart_product{
    text-align: left;
    font-size: 14px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.22);
    margin-bottom: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.order #cart_wrap #cartList .cart_product button{
    width: 40px;
    border: none;
    height: 30px;
    border-radius: 5px;
    background-color: #FFFFFF;
    color: #00695C;
    font-weight: bold;
}
.order #cart_wrap #cartList .cart_product .del_btn{
    background-color: rgb(168, 55, 55);
    color: #212121;
    width: 30px;
    float: right;
}
.order #cart_wrap #cartList .cart_product span{
    vertical-align: middle;
    display: inline-block;
    height: 30px;
    background-color: #F5F5F5;
    color: #212121;
    padding: 4px 10px 0px 10px;
    border-radius: 5px;
}

form footer{
    position: absolute;
    bottom : 0%;
    width: 896px;
    height: 100px;
    left: 0;
    border-top: 1px solid green;
    z-index: 2;
}

form footer #pay{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    width: 40%;
    /* border: 1px solid red; */
    justify-self: right;
}

form footer #pay p{
    border-right: 1px solid green;
    padding-right: 20px;
}
form footer #pay p span{
    color: rgb(218, 28, 28);
    font-weight: bold;
    font-size: 25px;
}

form footer #pay button{
    cursor: pointer;
    width: 90px;
    height: 45px;
    border: none;
    background-color: rgb(255, 94, 0);
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    border-radius: 5px;
    color: #fff;
}


